# dependencies
node_modules
.pnpm-store

# builds
dist
.next
.turbo
out
build
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs / debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store

# test / coverage
coverage
playwright-report
test-results
.vitest

# generated
packages/database/src/generated
apps/web/public/sw.js
apps/web/public/workbox-*.js

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# misc
*.pem
.vercel
.sentryclirc
tmp
.cache
packages/database/src/generated
apps/web/.env.local
